flask
flask-cors
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
faiss-cpu
huggingface-hub
torch
transformers
python-dotenv
pypdf
gunicorn
sentence-transformers


